span {
	color: rgb(52, 116, 253);
}

.logo {
	font-size: 1.5rem;
}
* {
	-webkit-tap-highlight-color: transparent;
}
.iconColor {
	filter: invert(36%) sepia(97%) saturate(2783%) hue-rotate(213deg)
		brightness(103%) contrast(106%);
}

.whiteIconColor {
	filter: invert(99%) sepia(55%) saturate(2%) hue-rotate(241deg)
		brightness(112%) contrast(100%);
}
